# After updating this file, run
#
# `pip-compile && pip-compile requirements.in nuremberg/core/tests/requirements.in -o nuremberg/core/tests/requirements.txt`
#
# to update requirements.txt and nuremberg/core/tests/requirements.txt

Django

# DB
mysqlclient
dj-database-url

# Search
lxml
django-haystack
pysolr
requests

# Assets
django_compressor
django-static-precompiler

# Serving images not hosted locally
django-proxy

# Web Server (non-development)
gunicorn
whitenoise
