# After updating this file, run
#
# `pip-compile && pip-compile requirements.in nuremberg/core/tests/requirements.in -o nuremberg/core/tests/requirements.txt`
#
# to update requirements.txt and nuremberg/core/tests/requirements.txt

coverage
django_coverage_plugin
pip-tools
pyquery
pytest
pytest-django
pytest-cov
pytest-instafail
selenium
sure
